<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quary</title>




    @Scripts.Render("~/bundles/js")
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    @Styles.Render("~/content/css")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.Partial("_devexpress")


    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
</head>
@*@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}*@

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_header")
        @Html.Partial("_sidebar")

        <div class="content-wrapper" style="min-height: 1170px;">
            <!-- Content Header (Page header) -->
            @Html.Partial("_content_header")

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">



                    </div>
                    <div class="box-body">
                        @RenderBody()
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->


            </section>


            <!-- /.content -->
        </div>

    </div>
    @Html.DevExpress().LoadingPanel(settings =>
    {
        settings.Name = "ldpPanel";
    }).GetHtml()
    @RenderSection("scripts", required: false)
    @Html.Action("PopupImportContainerPartial", "FilemanagementImport")
</body>
</html>
<script>
    function hideLoading() {
        ldpPanel.Hide();
    }
    function showLoading() {
        ldpPanel.Show();
    }
</script>