@model ForgotPassword
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}




@using (Ajax.BeginForm("ChangeForgotPasswordViewPartial", new { Token = ViewBag.Token, EmailAddress = ViewBag.Email }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "Redirect()" }))
{
    <div class="login-box-body">
        <h4 class="login-box-msg">Change Password.</h4>

        <div class="row margin-top-10">
            <div class="col-lg-12">
                @Html.DevExpress().LabelFor(m => m.NewPassword).GetHtml();
                @Html.DevExpress().TextBoxFor(m => m.NewPassword, txt => { txt.Properties.Password = true; txt.Properties.NullText = "New Password"; txt.Width = Unit.Percentage(100); }).GetHtml()
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-lg-12 ">
                @Html.DevExpress().LabelFor(m => m.ConfirmPassword).GetHtml();
                @Html.DevExpress().TextBoxFor(m => m.ConfirmPassword, txt => { txt.Properties.Password = true; ; txt.Properties.NullText = "Confirm Password"; txt.Width = Unit.Percentage(100); }).GetHtml()
            </div>
        </div>

        @Html.DevExpress().Button(btn => { btn.UseSubmitBehavior = true; btn.Name = "btnForgotPassword"; btn.Text = "Reset Password"; btn.ControlStyle.CssClass = "margin-top-10"; }).GetHtml()
    </div>
}


<script>
    function Redirect() {
        window.location = '@Url.Action("login","member")';
    }

</script>